<div class="container d-flex">
  <div class="card-padding">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag cocktail.photo, class: 'card-img-top' %>
        <div class="card-body">
          <div class="text-top">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <h6>Ingredients:</h6>
            <% cocktail.ingredients.each do |ingredient| %>
              <p><%=ingredient.name%><p>
            <% end %>
          </div>
        </div>
        <div class="link-bottom">
          <%= link_to "View ingredients", cocktail_path(cocktail) %>
          <div class="logo-pink">
            <i class="fas fa-cocktail"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


