<div class="jumbotron jumbotron-fluid banner-height d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path 'https://res.cloudinary.com/nmozzer/image/upload/v1565964260/fgifzddw5djbxtmmyx29.png', height: 300, width: 400, crop: :fill %>')">
  <div class="container d-flex justify-content-center flex-column align-items-center">
    <h1 class="display-4 text-large">Cocktail Recipes</h1>
     <%= link_to "Mix your Cocktail!", new_cocktail_path, class: "btn btn-success rounded width-btn" %>
  </div>
</div>


