.card-padding {
  padding: 20px;
  display: flex;
}

.card {
  margin: 20px;
}

.card-body {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin: 0px 0px;
  }
}

.link-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: $primary;
  a {
    color: $success;
  }
}

.direction-column {
  flex-direction: column;
}
