.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: $red;
  padding: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  display: flex;
  align-items: center;
  a {
    margin-left: 10px;
  }
}


